/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */

h2, h3, h4, h5, h6, p, div {

    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    margin: 20px 0px;
 
}


h1 {

    font-family: 'PT Sans', sans-serif;
}


h3 {

    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
}

p {

    color: rgb(81,103,121);
    line-height: 25px;
}


div {

    border-radius: 20px;
}

.white {

    background-color: white;
}

main {

    background-color: rgb(149,148,224);
}

section {

    width: 100%;
}


.container {

    width: 80%;
    margin: auto;

}

.card {

    padding: 20px;
}



.button {

    display: inline-block;
    text-align: center;
    background-color: rgb(0,119,252);
    padding: 10px 60px;

}

.button:hover {

    background-color: rgba( 0,0,0,0.5);
    background-color: red 2s;
}

/* HEADER */

header {
 
    background-color: rgb(0,119,252);
    height: 80px;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
}


nav {

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 40px;
    width: 100%;
}

.logo a:link , .logo a:visited{

    color: white;
    text-decoration: none;
}

.head-bars {

    font-size: 30px;
}
.nav-list {

    display: none;
}
header ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;

}

header ul a {

    margin-left: 20px;
    text-decoration: none;
    color: white;
}



header ul a:last-child {

    color: black;
    background-color: white;

    padding: 0px 20px;
    border-radius: 20px;
}

/* CARDS */

#demoshow {

    padding-top: 80px;
}
#demoshow h2 {

    color: rgb(0,119,252);
    text-align: center;
}

.card p {

    text-align: center;
}

.card.big p {

    text-align: start;
}

.cards-icon {

    text-align: center;
    color: rgb(0,119,252);
  
}

.button-link {

    text-decoration: none;
    color: white;
}

.card i {

    font-size: 75px;
    display: block;
    margin: auto;
}


.card {

    background-color: rgb(168,216,255);
    margin: 20px 0px; 
}

.cards {

    padding: 25px 0px;
}

.demo-img {

    height: 200px;
}

.test-c.card {

    display: flex;
    align-items:  center;
    flex-direction: column;
    text-align: center;
    color: white;

    background-color:rgb(139,133,223);
}
.tes-i {

    display: flex;
    justify-content: center;
    align-items: center;

  

}

.tes-i img {

    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 50%;
}

.test-c.card .tes-i{

    width: 200px;
    height:200px;

    margin:auto;
}

.test-c.card .tes-d {

    width: 70%;
}

.button-link i {

    font-size: 15px;
    display: inline;
    margin-right: 10px;
}

.demo-box.demo-img img {

    object-fit: contain;
    height: 100%;
    
}

.plan-ls.card .demo-img img , .plan-ls .demo-img img {

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.plan-ls.card .demo-img, .plan-ls .demo-img {

    width: 50%;
    height: 50%;
    margin: auto;


}
.card.big {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;   
}

.demo-box.demo-img {

    margin-bottom: 0px;

}


/* PLAN */

#plan {

    padding: 40px 0px 10px 0px;

}

.plan-ls:first-child {

    color: white;
}

.plan-ls:first-child p {

    color: white;
    font-size: 14px;
}

.plan-ls.card {

    background-color: white;
    text-align: center;
}

.plan-ls.card i {

    font-size: 20px;
    background-color:rgb(139,133,223);
    width: 40px;
    padding: 10px;
    border-radius: 50%;
}

.plan-ls p:last-child {

    padding-bottom: 50px;
}

.plan-ls .demo-img {

    width: 100%;
    margin: 0;
}

/* TESTIMONIAL */

#testimonial {

    text-align: center;
    padding: 40px 0px;
}

#testimonial .container h2 {

    color: rgb(139,133,223);
}

.card .tes-d p i {

    font-size: 15px;
    margin: 10px;
    display: inline;
}

.card .tes-d p {

    color: white;
}


/* WITH US */

#with-us .container h1 {

    margin-top: 20px;
    color: white;
    text-align: center;
}

#with-us .card h2:first-child {

    font-size: 70px;
    color: rgb(139,133,223);
}

#with-us .card h2:nth-child(2) {

    color: rgb(139,133,223);
}

#with-us .card p {

    text-align: left;
}

#with-us .card .button {

    background-color: rgb(139,133,223);
}


.withus-container .card {

    background-color: white;
}


/* ABOUT */ 

#about h2  {

    color:rgb(139,133,223);
    padding-top: 40px;
    padding-bottom: 20px;

    font-size: 30px;
}

#about .tes-i {

    width: 250px;
    height: 250px;
    margin-top: 60px;
    margin-bottom: 40px;

    position: relative;
}

#about .tes-i i {

    position: absolute;
    top:0;
    right:0;
    color: rgb(139,133,223);
    font-size: 80px;
}

#about .p-big {

    color: rgb(139,133,223);
    font-size: 30px;
    line-height: 40px;
}

#about .button {

    background-color: rgb(139,133,223);
    padding-left: 20px;
    padding-right: 20px;
}


/* SEZIONE FREE */ 

.free {

    text-align: center;
    padding-bottom: 50px;
}

.free h3 {

    color: rgb(221, 221, 221);
    font-size: 18px;
}

.free h2:nth-of-type(1) {

    color: white;
    width: 80%;
    margin: auto;
}

.free h2:nth-of-type(2) {

    color: rgb(255,184,86);
    font-size: 50px;
}

.free p {

    color: white;
}

.free .button {

    background-color: white;
    color: rgb(139,133,223);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}

.free .copyright , .copyright a:visited , .copyright a:link {

    color: white;
}

.copyright ul {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}

.copyright ul li {

    margin-right: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
}

.copyright ul li:first-child {

    list-style: none;
}


/* FOOTER */ 
footer {

    text-align: center;
    color: white;
    background-color: rgb(45,45,45);
    font-size: 0.8em;
}

footer .container {

    width: 80%;
    padding-top: 50px;
}

footer p {

    padding-bottom: 50px;
    color: white;
}

footer p:nth-of-type(2) {

    width: 70%;
    margin: auto;
}

footer a:link , footer a:visited {

    color: rgb(139,133,223);
}

/* DESKTOP */

@media screen and (min-width:588px) and (max-width: 997px) {

    .cards {

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .card-2 .card {

        width: calc(100% / 3 );
        
    }

    .card-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card-1 .card.big {

       width: 70%;
       text-align: left;
    }


    .card-1 .card {

        width: 33.3333%;
    }

    .card-2 {

        
        display: flex;
        flex-direction: row;
    }

 

    /* SEZIONE TEST */

    .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .tes-i {

        width: 100px;
        height: 100px;
    
    }

    .test-c.card .tes-i{

        width: 200px;
        height:200px;
        margin-right: 40px;
    }


    .card .tes-d p {

        text-align:left;
        color: white;
    }


    /* SEZIONE WITH US */

    .withus-container {

        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%
    }

    .withus-container .card {

        width: calc( 100% / 2 - 20px );
        margin: 10px;

    }

    /* SEZIONE ABOUT */

    .about-container {

        display: flex;
    }

    .about-text {

        width: 30%;
    }

    .about-info {

        width: 70%;
    }

    h1, h2, h3, h4 {

        font-size: 1.5em;
    }
}

/* TABLET */

@media screen and ( min-width:998px) {

    .nav-list {

        display: block;
    }

    .head-bars {

        display: none;
    }

    .container {

        width: 70%;
    }

    .cards {

        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .card-2 .card {

        width: calc(100% / 3 );
        
    }

    .card-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card.big {

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 0;
        
    }

   

    .card.big .demo-box h2 {

        text-align: left;
        padding-top: 0px;
    }

    .card.big .demo-box {

        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .card-1 .card.big .demo-box:first-child {

        width: 90%;
    }

    .card-1 .card.big {

       width: 70%;
       text-align: left;
    }

    .card-1 .card.big .demo-img {

        width: 50%;
    }

    .card-1 .card {

        width: 33.3333%;
    }

    .card-2 {

        
        display: flex;
        flex-direction: row;
    }


    .in-plan {

        display: flex;
        align-items: flex-end;
    }

    .in-plan .card {

        text-align: center;
        height: 50%;
    }

    .plan-ls {

        margin: 20px;
        width: 100%;
    }

     /* SEZIONE TEST*/

     .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .test-c.card .tes-i{

        width: 200px;
        height:200px;
    }


     /*SEZIONE WITH US*/

     .withus-container {

        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .withus-container .card {

        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    /*SEZIONE ABOUT*/

    .about-container {

        display: flex;
    }

    .about-text {

        width: 30%;
    }

    .about-info {

        width: 70%;
    }

    h1, h2, h3 {

        font-size: 1.5em;
    }
}